/* arrow-down */

.fa-angle-down {
    animation: bounce .5s infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {transform: translateY(-10px)}
    to {transform: translateY(0px)}
}

.fa-github, .fa-linkedin, .fa-envelope-o {
    transition: 0.5s ease;
}