
/* ================================================================================
Showcase Main Area
================================================================================ */

/* site-nav-button */

.change #bar1 {
    transform: rotate(315deg) translate(-9px, 6px);
}

.change #bar2 {
    transform: translateY(20px);
}

.change #bar3 {
    transform: rotate(-315deg) translate(-8px, -8px);
}

/* arrow-down */

.fa-angle-down {
    animation: bounce .5s infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {transform: translateY(-10px)}
    to {transform: translateY(0px)}
}

.fa-github {
    transition: 0.5s ease;
}

.fa-github:hover {
    transform: scale(1.1);
}
