/* Globalt */

body {
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #f2f2f2;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-size: 30px;
}


/* ================================================================================
Showcase Navigation
================================================================================ */

#logo {
    font-size: 130%;
}

.nav-container {
    /* background: #35424a; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5%;
    /* min-height:   40px; */
    /* border-bottom: #e8491d 3px solid; */
}

.nav-container ul {
    display: flex;
    flex-direction: row;
}

.nav-container li {
    padding: 0 20px 0 20px;
}

.nav-container a {
    color:#f2f2f2;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 16px;
    /* font-weight: bold; */
}

.nav-container a:hover {
    color: #b3b3b3;
    /* border-bottom: 2px solid #b3b3b3; */
    cursor: pointer;
    /* font-weight: bold; */
}

.nav-container li::after {
    content: '';
    display: flex;
    width: 0;
    height: 3px;
    margin: auto;
    background: #b3b3b3;
    transition: width .5s ease;
}

.nav-container li:hover::after {
    width: 100%;
}
 
.site-nav-button {
    display: none;
    font-size: 250%;
}

#selections {
    display: flex;
    flex-direction: row;
}

#selections i {
    padding-left: 10px;
    font-size: 130%;
}

#selections i:hover {
    color: #b3b3b3;
    cursor: pointer;
}
/* ================================================================================
Showcase Main Area
================================================================================ */

#showcase {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    min-height: 800px;
    background: url("../img/showcase2.jpg") no-repeat 0 0px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.showcase-container h1 {
    /* background: blue; */
    font-weight: 400;
    text-align: center;
    margin-top: 2%;
    font-size: 155px;
    margin-bottom: 0;
}

.showcase-container h2 {
    /* background: red; */
    font-size: 55px;
    margin-top: 0;
    /* margin-bottom: 5%; */
}

.timer-to-hire {
    margin-top: auto;
}

#timer {
    font-size: 25px;
}

.arrow-down {
    /* margin: auto 5% 10px 5%; */
    /* background: yellow; */
    margin-top: 10px;
    margin-bottom: 3%;
}

.arrow-down:hover {
    color: #b3b3b3;
    cursor: pointer;
}

.arrow-down p {
    margin-top: 5px;
}

/* ================================================================================
Boxes
================================================================================ */

.box-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding: 3%;
    color:#737373;
    /* color:#f2f2f2; */
    /* background-color: #0d0d0d */
}

.box {
    width: 100%;
}

.box p {
    margin: 10px auto;
    max-width: 300px;
}

.box img {
    max-width: 60%;
    filter: grayscale(100%);
}


/* ================================================================================
About
================================================================================ */

.about-container {
    display: flex;
    flex-direction: row-reverse;
    color: #ffffff;
    background: url("../img/ambient-about.jpg") no-repeat;
    margin: 0 auto;
    padding: 3%;
}

#about-pic img {
    max-height: 500px;
    margin: 10px auto;
    /* min-width: 750px; */
    width: 100%;
}


/* ================================================================================
Projects
================================================================================ */

#projects {
    /* background:#e6e6e6; */
    background: #d9d9d9;
    color:#737373;
}

#project1 {
    /* background: blue; */
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10%;
    padding: 30px 0;
}

#project1 img {
    /* background: yellow; */
    min-height: 100px;
    margin-right: 50px;
}

#project1-textarea h2 {
    margin: 0;
}

#project1-read-more {
    display: flex;
    flex-direction: row;
}

#project1-read-more i {
    color:#737373;
    font-size: 200%;
    padding-top: 6px;
    padding-left: 10px;
}

#project1-read-more i:hover {
    color: #333333;
}

/* ================================================================================
Portfolio
================================================================================ */

#portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
    color:#737373;
}

#portfolio-description {
    text-align: center;
}

#portfolio-icons {
    text-align: center;
    font-size: 400%;
}

#portfolio-icons i {
    color:#737373;
    padding: 2%;
}

/* ================================================================================
Contact
================================================================================ */

#contact {
    color: #b3b3b3;
    background: #333333;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact h2 {
    font-size: 16px;
}

#contact a {
    color: #b3b3b3;
}

#contact i {
    font-size: 350%;
}
 
#contact i:hover {
    color: #737373;
    cursor: pointer;
}