@media only screen and (max-width: 990px) {

    .arrow-down {
        margin-bottom: 50px;
    }

    .about-container {
        flex-direction: column;
    }
}

/* =========================================================== */

@media only screen and (max-width: 700px) {
   
    .showcase-container h1 {
        font-size: 80px;
    }

    .showcase-container h2 {
        font-size: 35px;
    }

    .timer-to-hire {
        margin-top: auto;
    }

    .arrow-down {
        margin-bottom: 50px;
    }

    .box-container {
        padding: 5%;
    }

    .about-container {
        text-align: center;
    }

    #project1 {
        text-align: center;
        flex-direction: column-reverse;
    }

    #project1 img {
        margin-right: 0px;
    }

    #project1-textarea h2 {
        display: none;
    }

    #project1-read-more {
        flex-direction: column;
        padding-left: 0;
    }

    #project1-read-more i {
        font-size: 300%;
    }
}